# MacOS and Windows system files
.DS_Store
Thumbs.db

# VS Code
# .vscode/
# !.vscode/extensions.json

# JetBrains IDEs
.idea/

# Environment files
.env
.envrc

# Local configuration files
*.local.*
*.local/
*.local
